.nav {
  list-style: none;
  padding: 10px 20px;
  display: flex;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
  padding: 0.6em 2em;
  font-weight: bold;
  outline: none;
}

.nav .active {
  color: #ea178c;
}
