.nav {
  list-style: none;
  padding: 10px 20px;
  display: flex;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
  padding: 0.6em 2em;
  font-weight: bold;
  outline: none;
}

.nav .active {
  color: #ea178c;
}

.animation {
  position: absolute;
  left: 38%;
  top: 50px;
  border: 1px solid #ea178c;
  animation: borderline 3s infinite;
}

@keyframes borderline {
  from {
    width: 0;
  }

  to {
    width: 40px;
  }
}
